<!DOCTYPE html>
<html lang="pt-BR">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{% if object %}Editar{% else %}Novo{% endif %} Empréstimo</title>
    {% load static %}
    <link rel="stylesheet" type="text/css" href="{% static 'style3.css' %}">

</head>
<body>
    <h1>{% if object %}Editar{% else %}Novo{% endif %} Empréstimo</h1>
    <form method="post">
        {% csrf_token %}
        {{ form.as_p }}
        <button type="submit">Salvar</button>
    </form>
    <a href="{% url 'emprestimo_list' %}">Cancelar</a>
</body>
</html>
