<!DOCTYPE html>
<html lang="pt-BR">
    <head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Biblioteca</title>
    {% load static %}
    <link rel="stylesheet" type="text/css" href="{% static 'style.css' %}">

</head>
<body>
    <h1>Bem-vindo à Biblioteca</h1>

    {% if not is_user %}
        <h2>Login</h2>
        {% if error %}
            <p class="error">{{ error }}</p>
        {% endif %}
        <form method="post">
            {% csrf_token %}
            <label for="username">Usuário:</label>
            <input type="text" id="username" name="username" required>
            <label for="password">Senha:</label>
            <input type="password" id="password" name="password" required>
            <button type="submit">Entrar</button>
        </form>
        <p>Não tem uma conta? <a href="{% url 'register' %}">Crie uma conta aqui.</a></p>
    {% else %}
        <h2>Menu</h2>
        <div class="menu">
            <button><a href="{% url 'livro_create' %}">Adicionar Livro</a></button>
            <button><a href="{% url 'livro_list' %}">Listar Livros</a></button>
            <button><a href="{% url 'emprestimo_list' %}">Gerenciar Empréstimos</a></button>
            <button><a href="{% url 'usuario_list' %}">Gerenciar Usuários</a></button>
            <button><a href="{% url 'emprestimo_create' %}">Emprestar Livro</a></button>
        </div>
        <form action="{% url 'logout' %}" method="post">
            {% csrf_token %}
            <button type="submit">Sair</button>
        </form>
    {% endif %}
</body>
</html>
