<!DOCTYPE html>
<html lang="pt-BR">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Criar Conta</title>
    {% load static %}
    <link rel="stylesheet" type="text/css" href="{% static 'style8.css' %}">

</head>
<body>
    <h1>Criar Conta</h1>
    <form method="post">
        {% csrf_token %}
        {{ form.as_p }} 
        <button type="submit">Registrar</button>
    </form>
    <p>Já tem uma conta? <a href="{% url 'index' %}">Faça login aqui.</a></p>
</body>
</html>
