<!DOCTYPE html>
<html lang="pt-BR">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Lista de Usuários</title>
    {% load static %}
    <link rel="stylesheet" type="text/css" href="{% static 'style11.css' %}">

</head>
<body>
    <h1>Lista de Usuários</h1>
    <ul>
        {% for usuario in object_list %}
        <li>
            {{ usuario.nome }} - Tipo: {{ usuario.tipo }}
            <a href="{% url 'usuario_update' usuario.pk %}">Editar</a> |
            <a href="{% url 'usuario_delete' usuario.pk %}">Deletar</a>
        </li>
        {% endfor %}
    </ul>
    <a href="{% url 'usuario_create' %}">Adicionar Usuário</a>
    <button><a href="{% url 'index' %}" style="color: white;">home</a></button>
</body>
</html>
